.container {
  display: flex;
  flex-direction: column;
  padding: 2px;
  
}

.input {
  padding: 15px 10px;
  margin-bottom: 5px;
  border:none;
  border-radius: 2px;
}

.validInput {
  border: 2px solid green;
}

.invalidInput {
  border: 2px solid red;
}
